.profile-container {
  padding: 20px 15%;
  color: #626262;
}

.cover-img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 14px;
}

.profile-details {
  background-color: var(--bg-color);
  padding: 20px;
  border-radius: 4px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

/* -------- profile-detail-left -------- */
.pd-row {
  display: flex;
  align-items: flex-start;
}

.pd-image {
  width: 100px;
  margin-right: 20px;
  border-radius: 6px;
}

.pd-row div h3 {
  font-size: 25px;
  font-weight: 600;
}

.pd-row div p {
  font-size: 13px;
}

.pd-row div img {
  width: 25px;
  border-radius: 50%;
  margin-top: 12px;
}

/* -------- profile-detail-right -------- */

.profile-detail-right button {
  background-color: #1876f2;
  border: 0;
  outline: 0;
  padding: 6px 10px;
  display: inline-flex;
  align-items: center;
  color: #fff;
  border-radius: 3px;
  margin-left: 10px;
  cursor: pointer;
}

.profile-detail-right button img {
  height: 15px;
  margin-right: 10px;
}

.profile-detail-right button:first-child {
  background-color: #e4e6eb;
  color: #000;
}

.profile-detail-right {
  text-align: right;
}

.profile-detail-right a {
  background-color: #e4e6eb;
  border-radius: 3px;
  padding: 12px;
  display: inline-flex;
  margin-top: 30px;
}

.profile-detail-right a img {
  width: 30px;
}

/* ------------ profile-info ------------ */

.profile-info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 20px;
}

.info-col {
  flex-basis: 33%;
}

.post-col {
  flex-basis: 65%;
}

.profile-intro{
    background-color: var(--bg-color);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.profile-intro h3{
    font-weight: 600;
}

.intro-text{
    text-align: center;
    margin: 10px 0;
    font-size: 15px;
}

.profile-intro hr{
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin: 24px 0;
}

.profile-intro ul li{
    list-style: none;
    font-size: 15px;
    margin: 15px 0;
    display: flex;
    align-items: center;
}

.profile-intro ul li img{
    width: 26px;
    margin-right: 10px;
}

.title-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-box a{
    text-decoration: none;
    color: #1876f2;
    font-size: 14px;
}

.photo-box{
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 10px;
    margin-top: 15px;
}

.photo-box div img{
    width: 100%;
    cursor: pointer;
}

.profile-intro p{
    font-size: 14px;
}

.friends-box{
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 10px;
    margin-top: 15px;
}

.friends-box div img{
    width: 100%;
    cursor: pointer;
    padding-bottom: 20px;
}

.friends-box div{
    position: relative;
}

.friends-box p{
    position: absolute;
    bottom: 0;
    left: 0;
}